html, body { height: 100%; width: 100%; }

html { background-color: #7fbdff; }

body {
  display: table;

  box-sizing: border-box;
  padding: 10px;

  background-color: rgba(255,255,255,0.2);

}

.vertical-align {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.intro {
  display: inline-block;
  padding: 2em;
  background-color: #7fbdff;
  border: 0.3em solid white;
  text-align: center;
}

.intro__paragraph {
  display: inline-block;
  margin: 0;
  padding: 0 0.15em 0.05em 0.15em;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 34px;
  color: white;
  background-color: #b2d7ff;
}

.intro__paragraph:not(:last-child) {
  margin-bottom: 0.08823529em; /* 3/34px */
}

.intro__paragraph__icon {
  display: inline-block;
  padding: 0 0.1em;
}

.intro__paragraph__icon-small {
  font-size: 0,94117647em; /* 32/34px */
}

.intro__paragraph__link:link,
.intro__paragraph__link:visited,
.intro__paragraph__link:active {
  transition: opacity 0.5s ease;
  color: white;
}

.intro__paragraph__link:hover {
  opacity: 0.7;
}
